In [1]:
import pandas as pd
import numpy as np

In [13]:
data = ['eighth', 'revelle', 'muir', 'muir', 'warren', 'warren', 'warren', 
        'erc', 'erc', 'erc', 'erc', 'seventh', 'seventh', 'sixth', 'sixth', 'seventh', 
        'marshall', 'marshall', 'costa', 'costa', 'costa', 'costa', 'regents', 
        'rita', 'matthews', 'rita', 'pepper canyon', 'la regencia']
name = ['kanggun' + str(i) for i in range(len(data))]

df = pd.DataFrame({'name': name, 'location': data})
df.head()

       name location
0  kanggun0   eighth
1  kanggun1  revelle
2  kanggun2     muir
3  kanggun3     muir
4  kanggun4   warren

In [14]:
df.to_csv('data.csv', index=False)